.triple-grid{
    margin-top: 1vh;
    row-gap: 5vh;
    column-gap: 5vh;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.inner-grid{
    padding: 1.5vh;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    align-items: center;

    column-gap: 1vw;
}

.inner-grid-item{
    text-align: center;
}

.double-grid{
    padding: 1.5vh;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: center;
    column-gap: 1vw;
    justify-items: center;
}

.double-grid figcaption{
    text-align: center;
}

.single-grid{
    padding: 1.5vh;
    display: grid;
    grid-template-columns: repeat(0, minmax(0, 1fr));
    align-items: center;
    column-gap: 1vw;
    justify-items: center;
}

.grid-item img{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.double-inner-grid{
    padding: 1.5vh;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: center;
    column-gap: 1vw;
    justify-items: center;
}

/* Mobile Styles */
@media(max-width: 1280px) { /* Änderung bei 1280px Abmessung des Empfängerbildschirms */
    .triple-grid{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .double-grid{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

}

@media(max-width: 1000px) {/* Änderungen bei 850px Abmessung des Empfängerbildschirms*/
    .triple-grid{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .double-grid{
        grid-template-columns: repeat(0, minmax(0, 1fr));
    }
}