*{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root{
  --textcolor: black;
  --divisioncolor: rgb(4, 160, 4);
  --fieldsetbackground: rgba(226, 234, 226, 0.67);
  --hovercolor: rgba(81, 156, 81, 0.67);
  --linkcolor: rgb(81, 156, 81);
}


body{
  background-color: whitesmoke;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

fieldset{
  border: 0.5vh solid;
  background-color: var(--fieldsetbackground);
  border-radius: 1rem;
  border-color: var(--divisioncolor);
  padding: 5%;
  padding-top: 2%;
}


fieldset img{
  border-radius: 1rem;
}

fieldset a {
  color: var(--linkcolor);
}


.link{
  text-align: center;
  display: center;
}

.link a{
  display:inline-block;
  align-items: center;
  font-weight: 550;
  text-decoration: underline;
  text-align: center;
  font-size: 15pt;
  background-color: var(--hovercolor);
  border-radius: 1vh;
}

p{
  font-size: 15pt;
}

main{
  min-height: 90%;
}

footer{
  margin-top: 1vw;
}

footer a{
  text-align: center;
  color: var(--linkcolor);
}

/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: var(--fieldsetbackground);
    text-align: center;
    border-radius: 1vw;
    border-style: solid;
    border-color: var(--divisioncolor);
  }
  
  /* Links inside the navbar */
  .navbar a {
    width: 20%;
    float: left;
    font-size: 16px;
    color: var(--divisioncolor);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: var(--hovercolor);
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #8dafd22e;
    min-width: 50%;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    width: 100%;
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Add a blueish background color to dropdown links on hover */
  .dropdown-content a:hover .dropdown-content a:hover{
    background-color: #1e3050;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  #hamburger-icon{
    display: none;
  }

  .wrapper{
    margin-top: 2.5%;
    margin-right: 10%;
    margin-left: 10%;
    
    max-width: 100%;
    min-height: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }

  .division {
    width: 100%;
    height: 6px;
    background-color: var(--divisioncolor);
    margin-top: 5vh;
    margin-bottom: 5vh;
    border-radius: 12px;
}

.typing_container{
  min-width: 100%;
  text-align: center;
}

.typing_container .typing{
  font-size: 36px;
  min-height: 10vh;
  line-height: 10vh;
}


.dropbtn {
  background-color: #8dafd22e;
  padding: 16px;
  font-size: 20px;
  border: none;
}

/* The container <div> - needed to position the dropup content */
.dropup {
  position: relative;
  display: inline-block;
}

/* Dropup content (Hidden by Default) */
.dropup-content {
  display: none;
  position: absolute;
  bottom: 50px;
  background-color: #8dafd22e;
  min-width: 160px;
  z-index: 1;
}

/* Links inside the dropup */
.dropup-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropup-content a:hover{
  background-color: #1e3050;
}

/* Show the dropup menu on hover */
.dropup:hover .dropup-content {
  display: block;
}

/* Change the background color of the dropup button when the dropup content is shown */
.dropup:hover .dropbtn {
  background-color: #1e3050;
}

.enemy img{
  margin-top: 1vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  max-width: 90%;
}

.enemy figcaption{
  margin-top: 0.5vh;
  text-align: center;
}


.indexcontainer img{
  margin-top: 1vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  max-width: 90%;
}

.indexcontainer figcaption{
  margin-top: 0.5vh;
  text-align: center;
}

.section img{
  margin-top: 1vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  max-width: 90%;
}

.section figcaption{
  margin-top: 0.5vh;
  text-align: center;
}

pre.cscode {margin:0em; overflow:auto; background-color:#ffffff; text-wrap: wrap; text-align: left; padding: 0%; border-radius: 5px;}
.cscode code {font-family:Consolas,"Courier New",Courier,Monospace; font-size:10pt; color:#000000;}
.cscode .key {color:#0000ff;}
.cscode .com {color:#008000;}
.cscode .str {color:#a31515;}


.tagholder{
  display: flex;
  flex-wrap: wrap;
}

.tag{
  width: 50px;
  text-align: center;
  align-content: center;
  background-color: var(--hovercolor);
  margin: 0.5vw;
  min-width: fit-content;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  width: 5vw;
  height: 3vw;
  border-radius: 1vh;
  border-style: none;
  font-weight: 550;
} 

.resumetile{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.resumetile > h3{
  width: 20%;
}

.tilecontent{
  display: flex;
  width: 100%;
  align-items: center;
}

.tilecontent > h3{
  text-align: left;
  margin-right: 4%;
  margin-left: 2%;
  padding: 1%;
  width: 12%;
}

legend{
  padding: 10px;
}



@media screen and (max-width: 1000px) {/* Änderungen bei 850px Abmessung des Empfängerbildschirms*/

  .navbar{
    display: none;
  }

  #hamburger-icon{
    background-color: var(--fieldsetbackground);
    border-radius: 1vw;
    padding: 2px;
    margin: auto 0;
    display: none;
    cursor: pointer;
  }

  .hamburger-inner{
    padding: 1vh 0;
    margin-left: 4vw;
  }

  .hamburger-inner div {
    width: 5vw;
    height: 0.3vh;
    background-color: black;
    margin: 6px 0;
    margin-left: 1vw;
    transition: 0.4s;
  }
  
  .open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  
  .open .bar2 {
    opacity: 0;
  }
  
  .open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
  }

  nav ul{
    list-style: none;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: space-around;
  }

  nav ul a{
    text-decoration: none;
    font-size: 35pt;
  }

  nav ul li{
    line-height: 7.5vw;
    min-height: 7.5vw;
    margin-top: 5px;
    padding: 5px;
    text-decoration: none;
    background-color: var(--fieldsetbackground);
  }

  nav ul li:hover{
    transform: scale(1,1);
    transition: 0.3s;
  }

  .mobile-menu{
    display:none;
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
    text-align: center;
  }

  .open .mobile-menu{
    display: contents;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  #hamburger-icon{
    display: block;
  }

  .typing_container .typing{
    font-size: 36px;
    min-height: 5vh;
    line-height: 5vh;
  }

  .indexcontainer img{
    min-width: 100%;
  }
  .cscode code {font-size:9pt;}
  
  .transition{
    min-width: 5vh;
    min-height: 5vh;

    background-color: #a31515;
  }

  .tag{
    width: 50px;
    text-align: center;
    align-content: center;
    background-color: var(--hovercolor);
    margin: 0.5vw;
    min-width: fit-content;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    width: 2.5vw;
    height: 3vw;
    border-radius: 1vh;
    border-style: none;
    font-weight: 550;
  }

  .certificates > .tilecontent > h3{
      margin-right: 5vw;
     
  }


}




